#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.scroll-progress-container {
  position: fixed;
  top: 0;
  right: 0;
  /* Alinha à direita */
  height: 100vh;
  /* Altura igual à altura da janela de visualização */
  /* Largura da barra de progresso */
  background-color: #29BCBA;
  /* Cor de fundo da barra de progresso */
  z-index: 9999;
  /* Certifique-se de que a barra de progresso está na parte superior */
}

.scroll-progress-bar {
  width: 100%;
  background-color: #FFA500;
  /* Cor da barra de progresso */
  transition: height 0.3s;
  /* Animação de altura da barra de progresso */
}